html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #efede0;
    margin: 0 0 100px;
}

.navbar {
    background-color: #333333;
}

.navbar-brand,
.navbar-brand:hover {
    color: #f1d448;
}

.navbar-secondary {
    background-color: #91bdaa;
}

.btn-outline-secondary {
    border-color: #555555;
    color: #555555;
    background-color: #f1d448;
}

.btn-outline-secondary:hover {
    background-color: #555555;
    color: #f1d448;
}

h1 {
    color: #333333;
}

label {
    color: #333333;
    font-size: 20px;
}

.btn-primary,
.btn-primary:hover {
    background-color: #333333;
    border-color: #333333;
    color: #f1d448;
    font-weight: 700;
}

.btn-primary:hover {
    color: #91bdaa !important;
}

table {
    width: 100%;
    text-align: center;
    border: 2px solid #333333;
}

table td {
    border: 2px solid #333333;
}

thead {
    color: #91bdaa;
    font-size: 20px;
    font-weight: 600;
}

#total {
    text-align: center;
}

.book-checkbox {
    height: 24px;
    width: 24px;
    margin-top: 4px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1.5rem;
    background-color: #333333;
}

footer p {
    margin-bottom: 0;
    color: #f1d448;
}

footer p a {
    color: #f1d448;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

footer p a:hover {
    color: #91bdaa;
}

#filter {
    display: inline-block;
    width: 45%;
}

.alert-success {
    background-color: #333333;
    border-color: #333333;
    color: #28a745;
    font-weight: 600;
    font-style: italic;
}

.alert-danger {
    background-color: #333333;
    border-color: #333333;
    color: #ffc107;
    font-weight: 600;
    font-style: italic;
}

@media screen and (max-width: 520px) {
    .btn-outline-secondary {
        font-size: 13px;
        font-weight: 600;
        margin-right: 2px !important;
    }
}
