<nav class="navbar p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            The Book Store
        </a>
    </div>
</nav>

<nav class="navbar navbar-secondary">
    <form class="container-fluid justify-content-start">
        <button class="btn btn-sm btn-outline-secondary me-3" type="button" onclick="window.location.href='/addBook';">Add book</button>
        <button class="btn btn-sm btn-outline-secondary me-3" type="button" onclick="window.location.href='/editBook';">Edit book</button>
        <button class="btn btn-sm btn-outline-secondary me-3" type="button" onclick="window.location.href='/deleteBook';">Delete book</button>
        <button class="btn btn-sm btn-outline-secondary me-3" type="button" onclick="window.location.href='/books';">Make purchase</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="window.location.href='/invoice';">Download Invoice</button>
    </form>
</nav>